<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <coverage/>

  <testsuites>
    <testsuite name="gelf php test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
      <directory>./examples</directory>
    </exclude>
  </source>

</phpunit>
